body {
    margin: 0px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(Apple.jpg);
}
.horizontal-list{
    list-style: none;
    padding: 0px;
    text-align: center;
    font-size: larger;

}
.horizontal-list li{
    display: inline;
    margin: 0px 10px 10px 0px;

}
.horizontal-list li a{
    color:white;
    text-decoration: none;
    
}
.horizontal-list li a:hover{
    color: red;
    border-bottom: 1px solid white;
}
#name-soical-container{
    margin: 20vh;
}.text-center{
    font-size: 3rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
}
.horizontal-lis{
    list-style: none;
    padding: 0px;
    text-align: center;
    font-size: 2rem;
    padding: auto;
    margin: -4vh;

}
.horizontal-lis li{
    display: inline;
    margin: 0px 20px 20px 0px;
}
.horizontal-lis li a{
    color:greenyellow;
    text-decoration: none;
}
.horizontal-lis li a:hover{
    color: rgb(40, 216, 119);
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}
#about{
    width: 100%;
    height: auto;
    position: relative;
}
#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -10vh;
}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 60%;
}

.para{
    margin:6rem;
    font-size:150%;
}
section{
    width:100%;
    height:75vh;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin:10px auto;
    font-weight: 400;
}
.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline;
    padding-top: 10px;
    margin-right: 0.5rem;
}
.skill-gress>div{
    border-radius: 20px 0px 0px 20px;
}
.skills-display {
            width: 75%;
            padding: 10px;
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .skill-progress {
            width: 11rem;
            height: 2.2rem;
            background-color: #326a96ed;
            border-radius: 1rem;
            box-shadow: -1px 9px 0px 0px #b9b9b9 ;
            margin: 25px;
            overflow: hidden;
        }

        .skill-progress>div {
            border-radius: 20px 0px 0px 20px;
            box-shadow: 2px 9px 3px 1px #989882;
        }

        .skill-name span {
            color: white;
            font-size: 1rem;
            margin-left: 10px;
            vertical-align: middle;
        }
#pp{
    height: 600px;
    width: 600px;
    margin: 40px;
    border: 2px solid black;
    background-color: #e6e676;
}
.edu{
    font-size: large;
    color:black;
}
#container{
    height: 100%;
    width: 80%;
    margin: 40px;
    border: 2px solid black;
    background-image: linear-gradient(to top right, red,blue);
}
.uu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.ss{
    text-align: right;
    color: white;
    margin-bottom: 10px;
}